.hidden {
  overflow: hidden;
}

.bodyIndex {
  background-color: black;
  color: white;
}

.bodyIndex .load {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodyIndex .load .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.bodyIndex .load .lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.bodyIndex .load .lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.bodyIndex header .title {
  display: flex;
  justify-content: center;
  color: blue;
  text-align: center;
  text-decoration-line: underline;
}

.bodyIndex header .title h1 {
  text-align: center;
  border-radius: 50%;
  border: solid red;
  width: 250px;
  padding: 15px;
}

.bodyIndex header .navbar {
  text-align: center;
}

.bodyIndex header .navbar nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, black, grey);
  width: 100%;
  height: 50px;
  align-items: center;
}

.bodyIndex header .navbar nav ul {
  display: flex;
  color: white;
  list-style: none;
}

.bodyIndex header .navbar nav ul li {
  margin: 5px;
  padding: 5px;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  font-size: 20px;
}

.bodyIndex header .navbar nav ul li .linkBar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: white;
}

.bodyIndex header .navbar nav ul li:hover {
  background-color: black;
}

.bodyIndex main .contentImgPrincipal .textImg {
  position: absolute;
  text-align: center;
  z-index: 5;
}

.bodyIndex main .contentImgPrincipal .textImg p {
  font-size: 4.5em;
  color: #ffe6b1;
  margin: 300px 250px;
  opacity: 0.6;
}

.bodyIndex main .contentImgPrincipal .imgPrincipal {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0%;
}

.bodyIndex main .contentImgPrincipal .imgPrincipal img {
  height: 80vh;
  width: 100%;
}

.bodyIndex .cotizacionDolar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.bodyIndex .cotizacionDolar .contentDolar {
  background-color: #709b70;
  border: solid white;
  margin: 5px;
  border-radius: 5px;
  color: black;
}

.bodyIndex .cotizacionDolar .contentDolar h3 {
  text-align: center;
  background-color: #2b4d2b;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin-top: 0px;
  border-radius: 5px;
}

.bodyIndex .cotizacionDolar .contentDolar .contentPrice {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bodyIndex .cotizacionDolar .contentDolar .contentPrice p {
  font-weight: bold;
  margin: 5px;
}

.bodyIndex .cotizacionDolar .contentDolar .contentPrice p b {
  font-size: 2em;
}

.bodyIndex .cotizacionDolar .contentDolar p {
  margin-bottom: 0px;
  text-align: center;
}

.bodyIndex .sectionTarjet .tarjetBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.bodyIndex .sectionTarjet .tarjetBox .tarjet {
  text-align: center;
}

.bodyIndex .sectionTarjet .tarjetBox .tarjet figure {
  max-width: 350px;
}

.bodyIndex .sectionTarjet .tarjetBox .tarjet figure img {
  border: solid #e2e2e2 7px;
  width: 350px;
  height: 350px;
}

.bodyIndex .sectionTarjet .tarjetBox .tarjet figure figcaption {
  text-align: center;
  margin: 10px;
  font-size: 1.5em;
}

.bodyIndex .sectionCart {
  margin-top: 20px;
}

.bodyIndex .sectionCart .contentCart {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.bodyIndex .sectionCart .contentCart .addCart {
  border: solid white;
  text-align: center;
  max-width: 275px;
}

.bodyIndex .sectionCart .contentCart .addCart figure img {
  width: 200px;
  height: 300px;
  margin-bottom: 20px;
}

.bodyIndex .sectionCart .contentCart .addCart p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 20px;
  height: 50px;
}

.bodyIndex .sectionCart .contentCart .addCart button {
  box-shadow: 2px 2px 3px;
  margin-bottom: 20px;
}

.bodyIndex footer {
  margin-top: 50px;
  border: solid white;
}

.bodyIndex footer ul {
  list-style: none;
  font-size: 1.2em;
}

.bodyIndex footer ul li {
  margin: 5px;
}

.bodyIndex .contentListHarry .harrysList {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.bodyIndex .contentListHarry .harrysList .card {
  width: 150px;
  height: 100px;
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding-top: 10px;
  border-radius: 10px;
}

.bodyIndex .contentListHarry .harrysList .card .sizeName {
  font-size: 1.1em;
  color: black;
}

.bodyContacto header {
  background-color: black;
  color: white;
}

.bodyContacto header .title {
  display: flex;
  justify-content: center;
  color: blue;
  text-align: center;
  text-decoration-line: underline;
}

.bodyContacto header .title h1 {
  text-align: center;
  border-radius: 50%;
  border: solid red;
  width: 250px;
  padding: 15px;
}

.bodyContacto header .navbar {
  text-align: center;
}

.bodyContacto header .navbar nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, black, grey);
  width: 100%;
  height: 50px;
  align-items: center;
}

.bodyContacto header .navbar nav ul {
  display: flex;
  color: white;
  list-style: none;
}

.bodyContacto header .navbar nav ul li {
  margin: 5px;
  padding: 5px;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  font-size: 20px;
}

.bodyContacto header .navbar nav ul li .linkBar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: white;
}

.bodyContacto header .navbar nav ul li:hover {
  background-color: black;
}

.bodyContacto .mainContacto {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/26/Atardecer_en_la_Laguna_de_Chascom%C3%BAs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  border: solid gray 0.1px;
}

.bodyContacto .mainContacto .contentFormContact {
  margin-top: 50px;
}

.bodyContacto .mainContacto .contentFormContact #formContact {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.bodyContacto .mainContacto .contentFormContact #formContact #buttonSend {
  margin: auto;
  margin-top: 20px;
  max-width: 100px;
}

.bodyContacto .mainContacto .card {
  position: absolute;
  left: 40%;
  top: 40%;
}

.bodyContacto .mainContacto .card .ocultar {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 3px;
}

.bodyContacto .mainContacto .card h4 {
  margin-top: 20px;
}

.bodyContacto footer {
  background-color: black;
  border: solid white;
}

.bodyContacto footer ul {
  list-style: none;
  font-size: 1.2em;
  color: white;
}

.bodyContacto footer ul li {
  margin: 5px;
}

.bodyProductos {
  background-color: black;
}

.bodyProductos .load {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodyProductos .load .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.bodyProductos .load .lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.bodyProductos .load .lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.bodyProductos header {
  background-color: black;
  color: white;
}

.bodyProductos header .title {
  display: flex;
  justify-content: center;
  color: blue;
  text-align: center;
  text-decoration-line: underline;
}

.bodyProductos header .title h1 {
  text-align: center;
  border-radius: 50%;
  border: solid red;
  width: 250px;
  padding: 15px;
}

.bodyProductos header .navbar {
  text-align: center;
}

.bodyProductos header .navbar nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, black, grey);
  width: 100%;
  height: 50px;
  align-items: center;
}

.bodyProductos header .navbar nav ul {
  display: flex;
  color: white;
  list-style: none;
}

.bodyProductos header .navbar nav ul li {
  margin: 5px;
  padding: 5px;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  font-size: 20px;
}

.bodyProductos header .navbar nav ul li .linkBar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: white;
}

.bodyProductos header .navbar nav ul li:hover {
  background-color: black;
}

.bodyProductos .mainProducts .catalogoTodo {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}

.bodyProductos .mainProducts .catalogoTodo .cart {
  width: 200px;
  height: 350px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding-top: 10px;
}

.bodyProductos .mainProducts .catalogoTodo .cart h3 {
  margin: 3px;
}

.bodyProductos .mainProducts .catalogoTodo .cart p {
  margin: 3px;
}

.bodyProductos .mainProducts .catalogoTodo .cart .imgCard {
  width: 75%;
  height: 50%;
}

.bodyProductos .mainProducts .catalogoTodo .styleShowCart {
  display: flex;
  flex-direction: column;
  background-color: brown;
  position: absolute;
  align-items: center;
  border: white solid;
}

.bodyProductos .mainProducts .catalogoTodo .styleShowCart .imgShowCart {
  width: 300px;
  height: 350px;
}

.bodyProductos .mainProducts .catalogoTodo .styleShowCart .ocultar {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  top: 5px;
}

.bodyProductos .mainProducts .catalogoTodo .styleShowCart p {
  max-width: 250px;
}

.bodyProductos .mainProducts .respuestaDeLaCompra p {
  text-align: center;
  color: blue;
  font-size: 2em;
}

.bodyProductos .mainProducts .respuestaDeLaCompra .addTextDelate {
  text-align: center;
  color: red;
  font-size: 1.5em;
}

.bodyShowCart header {
  background-color: black;
  color: white;
}

.bodyShowCart header .title {
  display: flex;
  justify-content: center;
  color: blue;
  text-align: center;
  text-decoration-line: underline;
}

.bodyShowCart header .title h1 {
  text-align: center;
  border-radius: 50%;
  border: solid red;
  width: 250px;
  padding: 15px;
}

.bodyShowCart header .navbar {
  text-align: center;
}

.bodyShowCart header .navbar nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, black, grey);
  width: 100%;
  height: 50px;
  align-items: center;
}

.bodyShowCart header .navbar nav ul {
  display: flex;
  color: white;
  list-style: none;
}

.bodyShowCart header .navbar nav ul li {
  margin: 5px;
  padding: 5px;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  font-size: 20px;
}

.bodyShowCart header .navbar nav ul li .linkBar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: white;
}

.bodyShowCart header .navbar nav ul li:hover {
  background-color: black;
}
/*# sourceMappingURL=style.css.map */